/**
 * Alsur custom css
 */

/*GENERAL BODY*/ 

body.pff-13{
   color: #031F5C!important;
}

a{
   color: #FA384F;
}
a:hover{
   color: #031F5C;
} 

body {
  --colorRosado: #fcc7d6;
  --colorAnaranjado: #fa6e4c;
  --colorFucsia: #fa384f;
  --colorAzul: #031f5c;
  --colorAzulClaro: #0338d6;
  font-size: 20px;
  font-family: 'Poppins',Georgia,Times New Roman,Serif;
}

.region-content-top h2, .region-content-top h2, .featured-top h2, .region-featured-top{
  font-size: 40px;
}


/* COLORES */

.naranja {
   color: #FA6E4C;
} 

.naranja-fondo {
   background-color: #FA6E4C;
   color: #031F5C;
}
.naranja-fondo a {
   color: #FA384F;
}

.naranja-fondo a:hover {
   color: #FCC7D6;
}

.fucsia {
   color: #FA384F;
} 
.fucsia-fondo {
   background-color: #FA384F;
   color: #FCC7D6;
}
.fucsia-fondo a, .fucsia-fondo h1, .fucsia-fondo h2 {
   color: #FFF;
}

.fucsia-fondo a:hover {
   color: #031F5C;
}

.fucsia-fondo .more-link a{
   background-color: #031F5C;
   color:#FCC7D6;
}

.fucsia-fondo .more-link a:hover{
   background-color: #FCC7D6;
   color:#031F5C;
   
}

.azulm {
   color: #031F5C;
} 

.azulm-fondo {
   background-color: #031F5C;
   color: #FCC7D6;
}

.azulm-fondo .more-link a:hover {
   background-color: #FA384F;
   color: #031F5C;
}

.azulm-fondo .more-link a{
   background-color: #FCC7D6;
   color: #0338D6;
   border-radius: 40px;
}

.azul {
   color: #0338D6;
} 

.azul-fondo {
   background-color: #0338D6;
   color: #FA384F;
} 

.rosa {
   color: #FCC7D6;
} 

.rosa-fondo {
   background-color: #FCC7D6;
   color: #0338D6;
} 

.blanco {
   color: #FFF;
} 

.blanco-fondo {
   background-color: #FFF;
   color: #031F5C;
}

.blanco-fondo .more-link a{
   background-color: #031F5C;
   color: #FCC7D6;
   border-radius: 40px;

}

.blanco-fondo .more-link a:hover{
   background-color: #FCC7D6;
   color: #031F5C;
   
}

.amarillo {
   color: #FCC42E;
} 

.amarillo-fondo {
   background-color: #FCC42E;
   color: #FA384F;
}

.amarillo-fondo h2 {
   color: #031F5C;
}


/* -- FIN COLORES -- */

/* IDIOMAS */
#block-alsur-languagedropdownswitcher {
    text-align: right;
    width: 70px;
}

#block-alsur-languagedropdownswitcher select {
    border: initial;
    background-color: transparent;
    border-bottom: solid 1px #FCC7D6;
    color: #0338D6;
}

#block-alsur-main-menu,
#block-alsur-languagedropdownswitcher {
   display: inline-block;
}

.region.region-header-first {
   text-align: center;
}

/* CONTENT TOP */
.sticky-wrapper {
   padding-top:10vh;
}

.header-container {
  min-height: 50vh;
}

.header-top__container{
   padding: 10vh 0 0vh!important;
}

.content-top  {
  min-height: 30vh!important;
}


/* OTROS BLOQUES */

.path-frontpage .views-field-title { 
   font-size: 20px;
   text-align: center;
} 

.clearfix.header-top-highlighted.blanco-fondo {
    min-height: 20vh;
    background-image: url(/themes/alsur/css/images/fondo-alsur.png) !important;
    background-repeat: repeat;
}

#block-alsur-views-block-que-hacemos-block-1 .views-field-view-node  {
    background-image: url(/themes/alsur/images/iconosALSUR.png);
    background-repeat: no-repeat;
    background-position: top right; 
 
}
#block-alsur-views-block-que-hacemos-block-1 .col-md-offset-6 {
   margin-right: 50%;
   margin-left: 0%;
   color: #fff;
}

.path-frontpage .pre-content {
   min-height: 100vh!important;
   padding-top: 10vh;
   padding-bottom: 10vh;
}
.path-frontpage .featured-top  {
   /*min-height: 100vh!important;*/
   padding-top: 10vh;
   padding-bottom: 10vh;
}


.path-frontpage .field-content.boton-quehacemos {
    text-align: center;
    display: block;

}
.path-frontpage .featured-top .more-link a {
   background-color: #031F5C;
   color: #fff;
}
.path-frontpage .featured-top .more-link a:hover {
   background-color: #FA384F;
}

.path-frontpage .boton-quehacemos a {
	background-color: #031F5C;
	color: #FCC7D6;
	font-size: 15px;
	font-weight: 400;
	padding: 15px 30px;
	display: inline-block;
	line-height: 1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin: 70px 0 10px 0;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 40px;
}
.path-frontpage .boton-quehacemos a:hover {
	background-color: #FCC7D6;
}


/*BOTONES*/ 
.path-frontpage .node ul.links li a { 
   background-color: #031F5C;
   color: #FCC7D6;
} 

.path-frontpage .node ul.links li a:hover { 
   background-color: #FCC7D6;
   color: #031F5C;
} 

/*Menus*/
#block-alsur-main-menu a {
   color: #031F5C;
}

#block-alsur-main-menu a:hover {  
   color: #FCC7D6;
}

/*PROYECTO INDIVIDUAL*/


/* PROYECTO Mentira de los funcionarios*/

.mentira_p1 {
  border-radius: 25px;
  margin: 3em 6em 2em 0;
  padding: 2em;
  background-color: #FA6E4C;
  color: #031F5C;
  font-size: 1.2em;
  animation: bounce;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 2;
}

.mentira_p2 {
  border-radius: 40px;
  margin: 0 0 3em 8em;
  padding: 2em;
  background-color: #031F5C;
  color: #FCC7D6;
  font-size: 1.3em;
  animation: pulse;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 2;
}

.mentira_p3 {
  border-radius: 25px;
  margin: 0 6em 2em 0;
  padding: 2em;
  background-color: #FA384F;
  color: #FCC7D6;
  font-size: 1.2em;
  animation: bounce;
  animation-duration: 1s;
  animation-delay: 7s;
  animation-iteration-count: 2;
}

.mentira_p4 {
  border-radius: 40px;
  margin: 0 0 3em 3em;
  padding: 2em;
  background-color: #FCC7D6;
  color: #0338D6;
  font-size: 1.4em;
  animation: pulse;
  animation-duration: 1s;
  animation-delay: 9s;
  animation-iteration-count: 2;
}

/*la featured image*/
.field--name-field-image {
  /*padding: 0 3em 1em 3em;*/
  text-align: center;
}

.mentira_flyers {
  text-align: center;
}

.mentira_flyers2 {
  text-align: center;
}

.mentira_flyers3 {
  text-align: center;
  padding-bottom: 1em;
}

.field--name-field-financiador {
  padding-top: 3em;
  text-align: center;
  animation: bounceIn;
  animation-duration: 1s;
  animation-delay: 13s;
}

/* FIN mentira */

/* PROYECTO Reconocimiento facial*/

.parr_redon_1 {
  border-radius: 40px;
  margin: 0 2em 1em 2em;
  padding: 2em;
  background-color: var(--colorAzulClaro);
  color: var(--colorRosado);
  font-size: 1.4em;
  animation: pulse;
  animation-duration: 1s;
  animation-delay: 9s;
  animation-iteration-count: 2;
}



/*FIN PROYECTO INDIVIDUAL*/

@media (max-width: 1024px) {
  #views-bootstrap-blog-block-1 .col-12 {
    margin-bottom: 3vh;
  }
  #views-bootstrap-reportes-block-1 .col-12 {
     margin-bottom: 3vh;
  }
  .sticky-wrapper {
    padding-top: 0px;
  }
  #block-alsur-views-block-que-hacemos-block-1 .views-field-view-node  {
   background-position: center;  
  }
  #block-alsur-main-menu li.menu-item {
    width: 100%; 
  }
  #block-alsur-views-block-que-hacemos-block-1 .col-md-offset-6 {
    width: 100%;
  }
  .content-top {
    min-height: initial;
  }
  .header-container {
   min-height: initial;
  }
  .boton-quehacemos a { 
    margin-top: 170px;
  }
}
@media (min-width: 769px) {
  .slideout-toggle {
     display:none!important;
  }
}
@media (max-width: 768px) {

  body {
    font-size: 15px;
  }
  #block-alsur-views-block-que-hacemos-block-1 .views-field-view-node  {
     background-image:none;
  }
  #block-alsur-main-menu {
    display:none;
  }
  #block-alsur-main-menu li.menu-item {
    width: 100%; 
  }
  #block-alsur-views-block-que-hacemos-block-1 .col-md-offset-6 {
    margin-right: initial;
    margin-left: initial;
  }
  .content-top {
    min-height: initial;
  }
  .header-container {
   min-height: initial;
  }
  .header-top__container {
    padding: 5vh !important;
  }
  .boton-quehacemos a {
    margin: 15px 0 10px 0;
  }
  .clearfix.header-top.blanco-fondo {
    min-height: 20vh;
  }
  
  .logo {
   background: url(/themes/alsur/logo.svg);
   overflow:hidden;
   display:block;
   max-width: 199px;
   max-height: 65px;
  }
  .logo img{
    padding: 199px;
  }
  .header-height {
    min-height: initial;
  }
  .sticky-wrapper { 
    padding: 0px;
  }

  .header-top-first ul.menu {
    text-align: center;
  }
  .header-top-second ul.menu {
    display:none;
  }
  .content-top__section {
    padding-top: 0px;
  }
  .path-blog  .view-blog span.views-field-field-image {
    float: initial;
    padding: initial;
  }

  .path-blog  .view-blog img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }
}


.clearfix.header {
    top: 0px;
    border: solid 1px #FCC7D6;
}

.header-container ul.menu li a {

    font-size: 15px;
    padding: 5px 23px;

}

.header-container ul.menu li a:hover {

    /* background-color: #FCC7D6;*/

}

.js-fixed {   
   color: #0338D6;
   background-color: #FFF;
   opacity: 0.8;
   border: init;
}
.js-fixed .more-link a{
   color: #0338D6;

}

.js-fixed .more-link a:hover{
   color: #031F5C;
}


#block-alsur-main-menu ul.menu a.is-active {
   color: #031F5C;
}

.js-fixed a.is-active{
   color: #0338D6;
}

.js-fixed a{
   color: #031F5C;
}

.js-fixed a:hover {
   color: #fff;
}


/*Views*/

.view-quienes-somos img {
	width: 100%;

	height: 300px;
	object-fit: scale-down;
	object-position: center;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
	background-color: white;
}

.view-quienes-somos img:hover {
  background-color: #fcf;
  opacity: 0.3;
}

#22 .view-quienes-somos img {
	width: 100%;
	height: 300px;
	padding-right: 33%;
	padding-left: 33%;
	object-fit: scale-down;
	object-position: center;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
	background-color: white;
}

#22 .view-quienes-somos img:hover {
  background-color: #fcf;
  opacity: 0.3;
}

#views-bootstrap-quienes-somos-block-1 .col-lg-4 {
  margin-bottom: 3%;
}

.path-frontpage .view-reportes img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: top;
}

.path-frontpage .view-reportes img:hover {
  background-color: #fcf;
  opacity: 0.3;
}

.path-frontpage .view-blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.path-frontpage .view-blog img:hover {
  background-color: #fcf;
  opacity: 0.3;
}
/*  OTROS */ 

.slideout-toggle{
  background-color: #FA384F;
  color: #FCC7D6;
  min-width: 50%;
}

.to-top {
    background-color: #fff;
    color: #031F5C;
}

.path-frontpage .main-content {
   display: none;
}


#block-alsur-footer .menu {
    padding-top: 120px;
}

#block-alsur-footer a:hover {
   color: #fcc7d6;
}

.path-frontpage .image-portada {
  display: none;
}

/*DRUPAL MODAL */ 

#drupal-modal img {
    padding: 0 25% 0% 25%;
    width: 100%;
    height: auto;
    background-color: white;
}

#drupal-modal p {
    text-align:justify;
}

.ui-dialog .ui-dialog-titlebar {
   background-color: #031F5C !important;
   border-color: #0338D6 !important;
   color: #fff !important;
   text-align:center !important;
}

.ui-widget-overlay {
    background: #031F5C !important;
    opacity: 0.4 !important;
}

/* OTRAS PAGINAS */

.path-blog  .view-blog span.views-field-field-image {
    float: left;
    padding: 15px 15px 0px 0px;
}

.path-blog  .view-blog img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.path-blog .views-field-title a {
    font-size: larger;    
}
.path-blog .views-row {
    margin-bottom: 20px;
    min-height: 300px;
}
