/**
 * @file
 * Font Families.
 */

/*body*/
body.pff-13 {
  font-family: 'Poppins', Georgia, Times New Roman, Serif;
}

/*headings*/
.hff-01 h1,
.hff-01 h2,
.hff-01 h3,
.hff-01 h4,
.hff-01 h5,
.hff-01 h6,
.hff-01 .tp-caption__title,
.hff-01 .tp-caption__subtitle,
.sff-01 .site-name,
.slff-01 .site-slogan,
.hff-14 .nav-tab__title {
  font-family: 'Poppins', Georgia, Times New Roman, Serif;
}

/*maintenance page*/
body.maintenance-page {
  font-family: 'Playfair Display', Times New Roman, Serif;
}
.maintenance-page h1,
.maintenance-page h2,
.maintenance-page h3,
.maintenance-page h4,
.maintenance-page h5,
.maintenance-page h6,
.maintenance-page .site-name,
.maintenance-page .site-slogan {
  font-family: 'Playfair Display', Times New Roman, Serif;
}
