/**
 * @file
 * Styles for Alsur breadcrumbs.
 */
.breadcrumb {
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 35px;
}
.breadcrumb__items {
  padding-left: 0px;

}
.breadcrumb__item {
  display: inline-block;

}
.breadcrumb__item a {
  text-decoration: none;
}
.breadcrumb__item .breadcrumb__item-separator {
  display: inline-block;

}
.breadcrumb__item:first-child .breadcrumb__item-separator {
  display: none;
}

/*breadcrumb layout*/
.container-fluid .block-system-breadcrumb-block {
  margin-right: -15px;
  margin-left: -15px;
}
.breadcrumb {
  margin-right: auto;
  margin-left: auto;
}
.container .breadcrumb {
  width: auto;
}
@media (min-width: 768px) {
  .breadcrumb {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .breadcrumb {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .breadcrumb {
    width: 1170px;
  }
}
