/**
 * @file
 * Visual styles for Alsur google maps.
 */
.google-map-canvas {
  height: 400px;
}
.container-fluid .google-map-canvas {
  margin: 0 -15px;
}
.page-container-border-enabled .container-fluid .google-map-canvas {
  margin: 0;
}
.google-map-canvas img {
  max-width: inherit;
}
