/**
 * @file
 * Visual styles for Alsur item list.
 */
.item-list ul {
  list-style-position: inside;
  list-style-type: square;
}
.item-list ul li {
  margin: 0 0 5px 0;
}
.item-list ul li:last-child,
.footer .item-list ul li:last-child,
.banner .item-list ul li:last-child {
  padding: 0;
}
.item-list ul li span {
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  padding-left: 5px;
}
.block-user-login-block .item-list ul li {
  padding: 0;
  margin: 0;
  border-bottom: none;
}
