/**
 * @file
 * Visual styles for Alsur language switcher.
 */
.block-language ul {
  padding-left: 0;
  list-style: none;
}
.block-language ul li {
  padding: 5px 0 5px 20px;
  position: relative;
}
.block-language ul li:before {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
  top: 7px;
  font-size: 10px;
}
.block-language ul li:before {
  content: "\f0da";
  font-size: 12px;
}
