/**
 * @file
 * Styles for Alsur full pager.
 */

/* Using .pager selector on the first one to override .region-content ul. */
.pager__items {
  margin: 30px 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0;
  padding: 0;
}
li.pager__item {
  padding: 0;
  margin: 0 0 -1px 0;
  display: inline-block;
}
li.pager__item > a {
  font-size: 14px;
  padding: 20px 15px;
  margin: 0 3px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent;
  color: #2d2d2d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  line-height: 1;
  text-decoration: none;
  background-color: transparent;
}
li.pager__item a:hover,
li.pager__item a:focus,
li.pager__item.is-active a {
  background-color: transparent;
}

/*mini pager @colored regions*/
.region--black-background .pager__items,
.region--colored-background .pager__items,
.region--dark-background .pager__items {
  border-color: rgba(255, 255, 255, 0.4);
}
.region--light-typography li.pager__item > a {
  color: #ffffff;
  background-color: transparent;
}
.region--light-typography li.pager__item a:hover,
.region--light-typography li.pager__item a:focus,
.region--light-typography li.pager__item.is-active a,
.region--light-typography li.pager__item.is-active:last-child a {
  border-color: #ffffff;
  color: #ffffff;
}

/*Reset Bootstrap's rules*/
.pager {
  margin: 0;
}
