/**
 * @file
 * Visual styles for Alsur post progress component.
 */
.post-progress {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}
.post-progress:before {
  background-color: #e8e8e8;
  content: "";
  width: 70px;
  height: 5px;
  display: block;
  bottom: 0;
  top: auto;
  position: absolute;
  z-index: -1;
}
.post-progress__value {
  font-size: 16px;
}
.post-progress__text {
  color: #505050;
  font-size: 15px;
}
.post-progress__bar {
  margin-top: 10px;
  width: 0;
  height: 5px;
}
