/**
 * @file
 * Visual styles for Alsur separators.
 */
.separator {
  width: 60px;
  height: 5px;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
}
.separator--gray {
  background-color: #e4e8ed;
}
.separator--white {
  background-color: #ffffff;
}
.separator--black {
  background-color: #232323;
}
