/**
 * @file
 * Visual styles for the site branding block in Alsur.
 */
@media (min-width: 992px) {
  .header-container .container-fluid .logo-and-site-name-wrapper {
    padding-left: 20px;
  }
}
.col-md-12 .site-branding {
  text-align: center;
}
.col-md-12 .logo-and-site-name-wrapper {
  display: inline-block;
}
.logo {
  float: left;
  margin-right: 10px;
  display: inline-block;
}
.col-md-12 .logo {
  float: none;
  margin-right: 0;
}
.logo-centered {
  float: none;
  text-align: center;
}
.logo:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.site-name a {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.15;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
.sitename-italic-enabled .site-name a {
  font-style: italic;
}
.region--light-typography .site-name a {
  color: #ffffff;
}
.col-md-12 .site-name a {
  font-size: 80px;
}
.site-name a:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.site-slogan {
  font-size: 15px;
  line-height: 1.20;
}
.headings-wide-spacing-enabled .site-slogan {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
@media (max-width:767px) {
  .logo {
    float: none;
    margin-right: 0;
    display: block;
    text-align: center;
    display: block;
    visibility: visible;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
  }
  .site-name,
  .site-slogan {
    text-align: center;
  }
  .site-name {
    margin: 5px 0 0 0;
  }
  .col-md-12 .site-name a {
    font-size: 60px;
  }
  .site-slogan {
    display: block;
    visibility: visible;
    padding: 5px 0 0 0;
  }
}

/* Site Branding @footer*/
.footer__section .logo-and-site-name-wrapper,
.footer-bottom__section .logo-and-site-name-wrapper,
.subfooter__section .logo-and-site-name-wrapper {
  margin: 0 0 15px;
}
.footer__section .site-name a,
.footer-bottom__section .site-name a,
.subfooter-bottom__section .site-name a {
  font-size: 40px;
}
@media (max-width:991px) {
  .footer-bottom__section .logo {
    float: none;
    margin-right: 0;
    display: block;
    text-align: center;
    display: block;
    visibility: visible;
  }
  .footer-bottom__section .site-name,
  .footer-bottom__section .site-slogan {
    text-align: center;
  }
  .footer-bottom__section .site-name {
    margin: 5px 0 0 0;
  }
  .footer-bottom__section .site-slogan {
    display: block;
    visibility: visible;
    padding: 5px 0 0 0;
  }
}

/* Site Branding @dark regions*/
.region--dark-background .site-slogan,
.region--black-background .site-slogan {
  color: rgba(255, 255, 255, 0.70);
}
