/**
 * @file
 * Visual styles for Alsur tables.
 */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 25px 0 40px;
}
table tr th {
  background-color: #f4f4f4;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #eaeaea;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 400;
  color: #2d2d2d;
  text-transform: uppercase;
}
.headings-wide-spacing-enabled table tr th {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
table tr:first-child th {
  border-width: 1px 0 1px 0;
}
table thead + tbody tr:first-child th:first-child {
  border-top-width: 0;
}
table tr th:last-child {
  border-right-width: 1px;
}
table tr td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #eaeaea;
  padding: 10px 20px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  color: #2d2d2d;
}
table tr:first-child td {
  border-top-width: 1px;
}
table thead + tbody tr:first-child td {
  border-top-width: 0px;
}

table tr th:first-child,
table tr td:first-child {
  border-left-width: 1px;
}

/*Tables @gray regions*/
.region--gray-background table tr th {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1);
}
