/**
 * @file
 * Styles for Alsur scroll to bottom button.
 */
.scroll-button a {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.5);
  color: #373737;
}
.scroll-button a:hover {
  background-color: #ffffff;
}
.region--light-typography .scroll-button a {
  color: #ffffff;
}
.region--light-typography .scroll-button a:hover {
  color: #373737;
}
.scroll-button a:before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f107";
  width: 30px;
  height: 24px;
  font-size: 25px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -15px;
  line-height: 1;
  text-align: center;
}
@media (max-width: 767px) {
  .scroll-button a {
    width: 50px;
    height: 50px;
  }
}