{% extends "block.html.twig" %}
{#
/**
 * @file
 * Alsur theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
  <div class="logo-and-site-name-wrapper clearfix">
    {% if site_logo %}
      <div class="logo">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__logo">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>
      </div>
    {% endif %}
{#  {% if site_name %}
      <div class="site-name site-branding__name">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      </div>
    {% endif %}
#}

    {% if site_slogan %}
      <div class="site-slogan site-branding__slogan">{{ site_slogan }}</div>
    {% endif %}
  </div>
{% endblock %}
